/*
 Print / PDF styles only.
*/
  .only-print {
    display: block;
  }

  .cookie-notice,
  .not-print {
    display: none;
  }

  body,
  body > * {
    background: white;
    color: black;
    font: 1.1rem/1.5 serif;
    /* font-family: 'Viaoda Libre', cursive, serif; */
    margin: 0 1rem;
  }

  .border,
  body > * {
    border: 1px solid #444;
  }

  /* h2 {
    page-break-before: always;
  } */

  img {
    height: 5cm;
  }
